<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.domain.search.SearchMapper">
	<!-- MEMBERS 테이블 전체 컬럼 -->
    <sql id ="postColumns">
		 MEMBER_ID as id
		,MEMBER_NICK_NAME as nickName
		,MEMBER_PASSWORD as pw
		,MEMBER_PHONE as phone
		,MEMBER_EMAIL as email
		,MEMBER_GENDER as gender
	</sql>

    <!-- 전체 회원 조회 -->
	<select id="getAllUsers" resultType="com.study.domain.search.UserResponse">
		SELECT
		<include refid="postColumns" />
		FROM MEMBERS
	</select>

	<!--단일 회원 조회 -->
	<select id="getUser" parameterType="String" resultType="com.study.domain.search.UserResponse">
		SELECT
		<include refid="postColumns" />
		FROM MEMBERS
		WHERE MEMBER_ID = #{id}
		OR MEMBER_EMAIL = #{email}
	</select>
	<!-- 회원 추가 -->
	<insert id="registerUser" parameterType="com.study.domain.search.UserRequest">
		INSERT INTO MEMBERS(
		 MEMBER_ID
		,MEMBER_NICK_NAME
		,MEMBER_PASSWORD
		,MEMBER_PHONE
		,MEMBER_EMAIL
		,MEMBER_GENDER)
		VALUES (
		  #{id}
		, #{nickName}
		, #{pw}
		, #{phone}
		, #{email}
		, #{gender}
		)
	</insert>
</mapper>